@inherits BaseLeaderboardComponent

@using ThePredictions.Contracts.Leagues
@using ThePredictions.Contracts.Admin.Rounds
@using ThePredictions.Web.Client.Components.Pages.Boosts

<div class="card slide">
    <div class="header mobile-match-header">
        <div class="d-flex align-items-center">
            <img src="@Match.HomeTeamLogoUrl" class="match-logo-small" alt="@Match.HomeTeamName Logo" />
            <span class="mx-2 fs-5 fw-bold">@Match.HomeTeamAbbreviation vs @Match.AwayTeamAbbreviation</span>
            <img src="@Match.AwayTeamLogoUrl" class="match-logo-small" alt="@Match.AwayTeamName Logo" />
        </div>

        <MatchStatusBadge Status="Match.Status"
                          MatchDateTimeUtc="Match.MatchDateTimeUtc"
                          HomeScore="Match.ActualHomeTeamScore"
                          AwayScore="Match.ActualAwayTeamScore" />
    </div>

    <div class="body leaderboard-body">
        <div class="table-responsive rounded flex-grow-1">
            <table class="leaderboard-table table-striped-purple light text-white">
                <thead>
                <tr>
                    <th class="text-start fw-bold">Player</th>
                    <th class="text-end fw-bold">Score</th>
                </tr>
                </thead>  <tbody>
                    @foreach (var player in Results.OrderBy(r => r.PlayerName))
                    {
                        var prediction = player.Predictions.FirstOrDefault(p => p.MatchId == Match.Id);
                        <tr class="@(GetUserHighlightClass(player.UserId))">
                            <td class="text-start fw-bold">@player.PlayerName</td>
                            <td class="text-end fw-bold">
                                <SmallBoostAppliedIcon Player="player" DeadlineUtc="DeadlineUtc" />
                                
                                @if (prediction?.HomeScore != null)
                                {
                                    <PredictionStatusBadge IsHidden="prediction.IsHidden"
                                                           Status="Match.Status"
                                                           HomeScore="prediction.HomeScore"
                                                           AwayScore="prediction.AwayScore"
                                                           Outcome="prediction.Outcome" />
                                }
                                else
                                {
                                    @if (!player.HasPredicted && DeadlineUtc < DateTime.UtcNow)
                                    {
                                        <span class="not-predicted-icon text-red bi bi-x-circle-fill" title="No predictions submitted"></span>
                                    }
                                    else
                                    {
                                        <span class="bi bi-clock-fill not-predicted-icon" title="No prediction submitted."></span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public MatchInRoundDto Match { get; set; } = null!;
    [Parameter, EditorRequired] public List<PredictionResultDto> Results { get; set; } = null!;
    [Parameter, EditorRequired] public DateTime DeadlineUtc { get; set; }
}