@using ThePredictions.Contracts.Leagues
@using ThePredictions.Contracts.Admin.Rounds
@using ThePredictions.Domain.Common.Enumerations
@using ThePredictions.Web.Client.Components.Pages.Boosts

@if (Results != null && Matches != null)
{
    <div class="results-grid-container">
        <table class="results-grid table-striped-purple">
            <thead>
                <tr>
                    <th class="match-info">Match</th>
                    <th>Actual Score</th> @foreach (var player in Results.OrderBy(p => p.PlayerName))
                    {
                        <th class="@(IsWinner(player) ? "winner-column" : "")">@player.PlayerName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var match in Matches.OrderBy(m => m.MatchDateTimeUtc).ThenBy(m => m.HomeTeamShortName))
                {
                    <tr>
                        <td class="match-info">
                            <div class="d-flex align-items-center space-between">
                                <img src="@match.HomeTeamLogoUrl" class="match-logo-small" alt="@match.HomeTeamName Logo" />
                                <span class="mx-2 d-sm-none">@match.HomeTeamAbbreviation v @match.AwayTeamAbbreviation</span>
                                <span class="mx-2 d-none d-sm-block">@match.HomeTeamShortName v @match.AwayTeamShortName</span>
                                <img src="@match.AwayTeamLogoUrl" class="match-logo-small" alt="@match.AwayTeamName Logo" />
                            </div>
                        </td>

                        <td class="score-cell actual-score">
                            <MatchStatusBadge Status="match.Status"
                                              HomeScore="match.ActualHomeTeamScore"
                                              AwayScore="match.ActualAwayTeamScore"
                                              MatchDateTimeUtc="match.MatchDateTimeUtc">
                            </MatchStatusBadge>
                        </td>

                        @foreach (var player in Results.OrderBy(p => p.PlayerName))
                        {
                            var prediction = player.Predictions.FirstOrDefault(p => p.MatchId == match.Id);
                            <td class="score-cell @(IsWinner(player) ? "winner-column" : "")">
                                @if (prediction?.HomeScore != null || prediction?.AwayScore != null)
                                {
                                    @if (prediction.IsHidden)
                                    {
                                        <span class="blurred-score" title="Predictions are hidden until the deadline.">0 - 0</span>
                                    }
                                    else if (match.Status == MatchStatus.Scheduled)
                                    {
                                        <span>@prediction.HomeScore - @prediction.AwayScore</span>
                                    }
                                    else
                                    {
                                        <PredictionStatusBadge Status="match.Status" HomeScore="prediction.HomeScore" AwayScore="prediction.AwayScore" Outcome="prediction.Outcome"/>
                                    }
                                }
                                else
                                {
                                    @if (!player.HasPredicted && DeadlineUtc < DateTime.UtcNow)
                                    {
                                        <span class="not-predicted-icon text-red bi bi-x-circle-fill" title="No predictions submitted"></span>
                                    }
                                    else
                                    {
                                        <span class="bi bi-clock-fill not-predicted-icon" title="No prediction submitted."></span>
                                    }
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th class="match-info">Total Score</th>
                    <th></th> @foreach (var player in Results.OrderBy(p => p.PlayerName))
                    {
                        <th class="@(IsWinner(player) ? "winner-column" : "")">
                            <SmallBoostAppliedIcon Player="player" DeadlineUtc="DeadlineUtc" />
                            @player.TotalPoints
                        </th>
                    }
                </tr>
            </tfoot>
        </table>
    </div>
}

@code {
    [Parameter, EditorRequired] public List<PredictionResultDto>? Results { get; set; }
    [Parameter, EditorRequired] public List<MatchInRoundDto>? Matches { get; set; }
    [Parameter, EditorRequired] public DateTime DeadlineUtc { get; set; }

    private bool IsWinner(PredictionResultDto player)
    {
        if (Results == null || !Results.Any() || Results.All(p => p.TotalPoints == 0))
            return false;

        var maxPoints = Results.Max(p => p.TotalPoints);
        return player.TotalPoints == maxPoints;
    }
}