@inject IDashboardStateService DashboardState
@inject IJSRuntime JsRuntime

@implements IAsyncDisposable

@using ThePredictions.Web.Client.Services.Dashboard
@using System.Globalization

<div class="section h-100">
    <h3 class="text-white text-center fw-bold mb-4">Available Leagues</h3>

    <ApiError Message="@DashboardState.AvailableLeaguesErrorMessage" />

    @if (DashboardState.IsAvailableLeaguesLoading)
    {
        <div class="d-flex justify-content-center align-items-center flex-grow-1">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading leagues...</span>
            </div>
        </div>
    }
    else if (DashboardState.AvailableLeagues.Any())
    {
        <div class="card-grid">
            @foreach (var league in DashboardState.AvailableLeagues)
            {
                <div class="card">
                    <div class="header">
                        <h5 class="fw-bold text-white">@league.Name</h5>
                        <small class="text-white-50 fw-bold">@league.SeasonName</small>
                    </div>

                    <div class="body">
                        <div class="detail-list">
                            <div class="detail-row centered">
                            <div class="badge-group badge-group--red">
                                <span class="badge-icon"><i class="bi bi-alarm"></i></span>
                                <LocalTime UtcDate="@league.EntryDeadlineUtc"/>
                            </div>
                        </div>

                            <div class="detail-row">
                                <div class="badge-group badge-group--blue">
                                    <span class="badge-icon">
                                        <i class="bi bi-people-fill"></i>
                                    </span>
                                    <span>@league.MemberCount</span>
                                </div>

                                <div class="badge-group badge-group--green">
                                    <span class="badge-icon">
                                        <i class="bi bi-cash-stack"></i>
                                    </span>
                                    <span>@(league.Price > 0 ? league.Price.ToString("C", new CultureInfo("en-GB")) : "Free Entry")</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer">
                        <button class="btn btn-sm purple-accent-button w-100"
                                @onclick="() => HandleJoinLeagueAsync(league.Id)"
                                disabled="@_isBusy">
                            Join
                        </button>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-white fw-bold text-center">There are currently no public leagues available.</p>
    }

    <div class="mt-auto pt-4">
        <button class="btn blue-light-button w-100" @onclick="ShowJoinPrivateLeagueModal">Join Private League with Code</button>
    </div>
</div>

@if (_showPrivateLeagueModal)
{
    <JoinPrivateLeagueModal OnClose="HideJoinPrivateLeagueModal" />
}

@code {
    private bool _isBusy;
    private bool _showPrivateLeagueModal;

    protected override void OnInitialized()
    {
        DashboardState.OnStateChange += StateHasChanged;
    }

    private async Task ShowJoinPrivateLeagueModal()
    {
        _showPrivateLeagueModal = true;
        await Task.Delay(50);
        await JsRuntime.InvokeVoidAsync("blazorInterop.showModal", "joinPrivateLeagueModal");
    }

    private async Task HideJoinPrivateLeagueModal()
    {
        await JsRuntime.InvokeVoidAsync("blazorInterop.hideModal", "joinPrivateLeagueModal");
        _showPrivateLeagueModal = false;
    }

    private async Task HandleJoinLeagueAsync(int leagueId)
    {
        _isBusy = true;

        await DashboardState.JoinPublicLeagueAsync(leagueId);

        _isBusy = false;
    }

    public ValueTask DisposeAsync()
    {
        DashboardState.OnStateChange -= StateHasChanged;
        return ValueTask.CompletedTask;
    }
}